@model CarMarket.Web.ViewModels.Models.AllModelsSelectListViewModel

@foreach (var mod in Model.Models)
{
    if (mod.Id == Model.SelectedModelId)
    {
        <option value="@mod.Id" selected="selected">@mod.Name</option>
        continue;
    }

    <option value="@mod.Id">@mod.Name</option>
}
