@model CarMarket.Web.ViewModels.Bodies.AllBodiesSelectListViewModel

@foreach (var body in Model.Bodies)
{
    if (body.Id == Model.SelectedBodyId)
    {
        <option value="@body.Id" selected="selected">@body.Type</option>
        continue;
    }

    <option value="@body.Id">@body.Type</option>
}
