@model CarMarket.Web.ViewModels.Listings.CreateListingInputModel
@{
    ViewData["Title"] = "Create new listing";

    var bodies = Model.Bodies.Select(x => new SelectListItem(x.Type, x.Id.ToString()));
    var colors = Model.Colors.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
    var conditions = Model.Conditions.Select(x => new SelectListItem(x.Type, x.Id.ToString()));
    var fuels = Model.Fuels.Select(x => new SelectListItem(x.Type, x.Id.ToString()));
    var makes = Model.Makes.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
    var transmissions = Model.Transmissions.Select(x => new SelectListItem(x.Type, x.Id.ToString()));
}

<h1 class="text-center my-text-color mt-4 mb-3">Create new listing</h1>
<div class="container mb-5 text-dark">
    <div class="row justify-content-center">
        <div class="col-md-8 order-md-1">
            <form asp-action="Create" method="post">

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="MakeId">Make</label>
                        <select asp-for="MakeId" asp-items="makes" class="custom-select d-block w-100" id="makeModel">
                            <option value="">Choose a make</option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="ModelId">Model</label>
                        <select asp-for="ModelId" class="custom-select d-block w-100">
                            <option value="">Choose a model</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label asp-for="BodyId">Body</label>
                        <select asp-for="BodyId" asp-items="bodies" class="custom-select d-block w-100">
                            <option value="">Choose a body</option>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="TransmissionId">Transmission</label>
                        <select asp-for="TransmissionId" asp-items="transmissions" class="custom-select d-block w-100">
                            <option value="">Choose a transmission</option>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="FuelId">Fuel</label>
                        <select asp-for="FuelId" asp-items="fuels" class="custom-select d-block w-100">
                            <option value="">Choose a fuel</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label asp-for="ConditionId">Condition</label>
                        <select asp-for="ConditionId" asp-items="conditions" class="custom-select d-block w-100">
                            <option value="">Choose a condition</option>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="ColorId">Color</label>
                        <select asp-for="ColorId" asp-items="colors" class="custom-select d-block w-100">
                            <option value="">Choose a color</option>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="ProductionYear">Production Year</label>
                        <input asp-for="ProductionYear" type="number" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label asp-for="Mileage">Mileage</label>
                        <input asp-for="Mileage" type="number" class="form-control">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="Horsepower">Horsepower</label>
                        <input asp-for="Horsepower" type="number" class="form-control">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="Price">Price</label>
                        <input asp-for="Price" type="number" class="form-control">
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Description">Description</label>
                    <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                    <small class="text-muted">Additional information</small>
                </div>

                <p>Car images</p>
                <div class="custom-file mb-2">
                    <input type="file" class="custom-file-input">
                    <label class="custom-file-label" for="customFile">Choose main image</label>
                </div>
                <div class="custom-file mb-2">
                    <input type="file" class="custom-file-input">
                    <label class="custom-file-label" for="customFile">Choose secondary image</label>
                </div>
                <div class="custom-file mb-3">
                    <input type="file" class="custom-file-input">
                    <label class="custom-file-label" for="customFile">Choose secondary image</label>
                </div>

                <hr class="mb-4">
                <button class="btn btn-lg btn-outline-light btn-block my-background-color" type="submit">Create</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $('.custom-file-input').on('change', function () {
            let fileName = $(this).val().split('\\').pop();
            $(this).next('.custom-file-label').addClass("selected").html(fileName);
        });

        $('#makeModel').on('change', function () {
            const id = this.value;
            $.get(`/api/models/${id}`, function (data) {
                console.log(data)
            });
        });
    </script>
}