@model CarMarket.Web.ViewModels.Listings.CreateListingInputModel

@{
    ViewData["Title"] = "Create new listing";
}

<h1 class="text-center my-text-color mt-4 mb-3">Create new listing</h1>
<div class="container mb-5 text-dark">
    <div class="row justify-content-center">
        <div class="col-md-8 order-md-1">
            <form asp-action="Create" method="post" enctype="multipart/form-data">

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="MakeId">Make</label>
                        <select asp-for="MakeId"  class="custom-select d-block w-100" id="makeModel">
                            <option value="">Choose a make</option>
                            <vc:makes-select-list></vc:makes-select-list>
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="ModelId">Model</label>
                        <select asp-for="ModelId" class="custom-select d-block w-100" id="modelSelect">
                            <option value="">Choose a make</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label asp-for="BodyId">Body</label>
                        <select asp-for="BodyId" asp-items="Model.Bodies" class="custom-select d-block w-100">
                            <option value="">Choose a body</option>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="TransmissionId">Transmission</label>
                        <select asp-for="TransmissionId" asp-items="Model.Transmissions" class="custom-select d-block w-100">
                            <option value="">Choose a transmission</option>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="FuelId">Fuel</label>
                        <select asp-for="FuelId" asp-items="Model.Fuels" class="custom-select d-block w-100">
                            <option value="">Choose a fuel</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label asp-for="ConditionId">Condition</label>
                        <select asp-for="ConditionId" asp-items="Model.Conditions" class="custom-select d-block w-100">
                            <option value="">Choose a condition</option>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="ColorId">Color</label>
                        <select asp-for="ColorId" asp-items="Model.Colors" class="custom-select d-block w-100">
                            <option value="">Choose a color</option>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="ProductionYear">Production Year</label>
                        <input asp-for="ProductionYear" type="number" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label asp-for="Mileage">Mileage</label>
                        <input asp-for="Mileage" type="number" class="form-control">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="Horsepower">Horsepower</label>
                        <input asp-for="Horsepower" type="number" class="form-control">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="Price">Price</label>
                        <input asp-for="Price" type="number" class="form-control">
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Description">Description</label>
                    <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                    <small class="text-muted">Additional information</small>
                </div>

                <p>Car images</p>
                <div class="custom-file mb-2">
                    <input asp-for="UploadImages" type="file" class="custom-file-input" multiple>
                    <label asp-for="UploadImages" class="custom-file-label">Choose images</label>
                </div>

                <hr class="mb-4">
                <button class="btn btn-lg btn-outline-light btn-block my-background-color" type="submit">Create</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $('.custom-file-input').on('change', function () {
            $(this).next('.custom-file-label').addClass("selected").html("Images loaded.");
        });

        $('#makeModel').on('change', function () {
            const id = this.value;
            $.get(`/api/models/${id}`, function (data) {
                const options = data.map(x => `<option value=${x.id}>${x.name}</option>`);
                $('#modelSelect').empty();
                $('#modelSelect').append(options);
            });
        });
    </script>
}