@model CarMarket.Web.ViewModels.Listings.EditListingInputModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center my-text-color mt-4 mb-3">Edit your listing</h1>
<div class="container mb-5 text-dark">
    <div class="row justify-content-center">
        <div class="col-md-8 order-md-1">
            <form asp-action="Create" method="post" enctype="multipart/form-data">

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="MakeId">Make</label>
                        <select asp-for="MakeId" class="custom-select d-block w-100">
                            <option value="@Model.MakeId">@Model.MakeName</option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="ModelId">Model</label>
                        <select asp-for="ModelId" class="custom-select d-block w-100">
                            <vc:models-select-list make-id="@Model.MakeId"></vc:models-select-list>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label asp-for="BodyId">Body</label>
                        <select asp-for="BodyId" class="custom-select d-block w-100">
                            <vc:bodies-select-list></vc:bodies-select-list>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="TransmissionId">Transmission</label>
                        <select asp-for="TransmissionId" class="custom-select d-block w-100">
                            <vc:transmissions-select-list></vc:transmissions-select-list>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="FuelId">Fuel</label>
                        <select asp-for="FuelId" class="custom-select d-block w-100">
                            <vc:fuels-select-list></vc:fuels-select-list>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label asp-for="ConditionId">Condition</label>
                        <select asp-for="ConditionId" class="custom-select d-block w-100">
                            <vc:conditions-select-list></vc:conditions-select-list>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="ColorId">Color</label>
                        <select asp-for="ColorId" class="custom-select d-block w-100">
                            <vc:colors-select-list></vc:colors-select-list>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="ProductionYear">Production Year</label>
                        <input asp-for="ProductionYear" type="number" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label asp-for="Mileage">Mileage</label>
                        <input asp-for="Mileage" type="number" class="form-control">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="Horsepower">Horsepower</label>
                        <input asp-for="Horsepower" type="number" class="form-control">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="Price">Price</label>
                        <input asp-for="Price" type="number" class="form-control">
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Description">Description</label>
                    <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                    <small class="text-muted">Additional information</small>
                </div>

                @*@foreach (var img in Model.UploadedImages)
                {
                    <img src="@img" alt="Alternate Text" />
                }*@

                <div class="form-check">
                    <input asp-for="ShouldChangeImage" type="checkbox" class="form-check-input">
                    <label asp-for="ShouldChangeImage" class="form-check-label">Change image</label>
                </div>

                <p>Car images</p>
                <div class="custom-file mb-2">
                    <input asp-for="NewUploadImages" type="file" class="custom-file-input" multiple>
                    <label asp-for="NewUploadImages" class="custom-file-label">Choose images</label>
                </div>

                <hr class="mb-4">
                <button class="btn btn-lg btn-outline-light btn-block my-background-color" type="submit">Save changes</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $('.custom-file-input').on('change', function () {
            $(this).next('.custom-file-label').addClass("selected").html("Images loaded.");
        });
    </script>
}