@model CarMarket.Web.ViewModels.Fuels.AllFuelsSelectListViewModel

@foreach (var fuel in Model.Fuels)
{
    if (fuel.Id == Model.SelectedFuelId)
    {
        <option value="@fuel.Id" selected="selected">@fuel.Type</option>
        continue;
    }

    <option value="@fuel.Id">@fuel.Type</option>
}
