@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1 class="text-center my-text-color mt-4">@ViewData["Title"]</h1>
<div class="row justify-content-center">

    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h4 class="text-center my-text-color">Enter into your account.</h4>
                <hr class="mb-4" />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group mb-3">
                    <label asp-for="Input.Username"></label>
                    <input asp-for="Input.Username" class="form-control" />
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <hr />
                <div class="form-group">
                    <button type="submit" class="btn my-background-color btn-lg btn-outline-light btn-block">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="my-text-color">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
