@using CarMarket.Common

<div class="container">
    <h4 class="text-center my-text-color mt-3">Browse popular brands</h4>
    <hr />
    <div class="row">
        <div class="col-md-3 col-sm-6 mb-2">
            <a asp-controller="Search" asp-action="Result" asp-all-route-data="@GlobalConstants.VwParams">
                <img class="img-fluid img-thumbnail" src="~/brands/vw.png" alt="">
            </a>
        </div>
        <div class="col-md-3 col-sm-6 mb-2">
            <a asp-controller="Search" asp-action="Result" asp-all-route-data="@GlobalConstants.MercParams">
                <img class="img-fluid img-thumbnail" src="~/brands/merc.png" alt="">
            </a>
        </div>
        <div class="col-md-3 col-sm-6 mb-2">
            <a asp-controller="Search" asp-action="Result" asp-all-route-data="@GlobalConstants.AudiParams">
                <img class="img-fluid img-thumbnail" src="~/brands/audi.png" alt="">
            </a>
        </div>
        <div class="col-md-3 col-sm-6 mb-2">
            <a asp-controller="Search" asp-action="Result" asp-all-route-data="@GlobalConstants.BmwParams">
                <img class="img-fluid img-thumbnail" src="~/brands/bmw.png" alt="">
            </a>
        </div>
    </div>
    <hr />
</div>