@using CarMarket.Common

<footer class="border-top footer text-white my-background-color">
    <div class="container">
        &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a class="text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        - <a class="text-white" asp-area="" asp-controller="Search" asp-action="Index">Search</a>
    </div>
</footer>
