<!DOCTYPE html>
<html>
<head>
    <partial name="_HeadPartial" />
</head>
<body>
    <header>
        <partial name="_NavbarPartial" />
    </header>

    <div class="container-fluid p-0">
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <partial name="_FooterPartial" />

    <partial name="_ScriptsPartial" />

    @this.RenderSection("Scripts", required: false)
</body>
</html>
