
@{
    ViewData["Title"] = "Details";
}

<h2 class="text-center my-text-color mt-4 mb-3">List of makes</h2>
<div class="container mb-3">
    <div class="mb-3">
        <a class="btn btn-outline-light my-background-color" asp-action="Create">Add a new model</a>
    </div>
    <div class="row justify-content-center">
        <div class="table-responsive">
            <table class="table table-bordered text-center">
                <thead class="thead-light">
                    <tr>
                        <th>
                            Model Id
                        </th>
                        <th>
                            Model Name
                        </th>
                        <th>
                            Created On
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @*@foreach (var make in Model.Makes)
                    {
                        <tr>
                            <td>
                                @make.Id
                            </td>
                            <td>
                                @make.Name
                            </td>
                            <td>
                                @make.CreatedOn
                            </td>
                            <td>
                                <a class="btn btn-outline-light my-background-color" asp-action="Details" asp-route-id="@make.Id">Manage models</a>
                            </td>
                        </tr>
                    }*@
                </tbody>
            </table>
        </div>
    </div>
</div>

