@model CarMarket.Web.ViewModels.Administration.Makes.MakesAdminViewModel
@{
    ViewData["Title"] = "Makes";
}

<h2 class="text-center my-text-color mt-4 mb-3">List of makes</h2>
<div class="container mb-3">
    <div class="mb-3">
        <a asp-controller="Dashboard" asp-action="Index" class="btn btn-outline-light my-background-color"><i class="fas fa-backward"></i> Back to dashboard</a>
        <a asp-action="Create" class="btn btn-outline-light my-background-color">Add a new make</a>
    </div>
    <div class="row justify-content-center">
        <div class="table-responsive">
            <table class="table table-bordered text-center">
                <thead class="thead-light">
                    <tr>
                        <th>
                            Make Id
                        </th>
                        <th>
                            Make Name
                        </th>
                        <th>
                            Created On
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var make in Model.Makes)
                    {
                        <tr>
                            <td>
                                @make.Id
                            </td>
                            <td>
                                @make.Name
                            </td>
                            <td>
                                <time datetime="@make.CreatedOn.ToString("O")"></time>
                            </td>
                            <td>
                                <a class="btn btn-outline-light my-background-color" asp-action="Details" asp-route-id="@make.Id">Manage models</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

